@import url('https://fonts.googleapis.com/css2?family=Archivo+Black:wght@400&display=swap');

* {
  font-family: 'Archivo Black', sans-serif;
}

.boxProfil {
    padding: 8%;
    border-radius: 20px;
    background-color: #F5F5F5;
}

#firstName {
    fontFamily : "Archivo Black"
  }